#add-task-btn{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid lightgray;
    align-self: center;
    margin: 25px 0px;
}
#add-task-btn:hover{
    background-color: rgba(211, 211, 211, 0.133);
}
.all-tasks-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}